@import "../imports.scss";

@keyframes rippleAnimation {
    0% {
      opacity: 0.3;
      transform: translate(-50%, -50%) scale(0);
    }

    50% {
      opacity: 0.3;
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .ripple-effect {
    background-color: var(--separator-01);
    border-radius: 100%;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    animation: rippleAnimation 240ms forwards;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 0);
    will-change: transform, opacity;
  }